.projects-root {
    padding: 50px 0 !important;
    background-color: #f9f9f9;
    text-align: center;
}

.spotlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.spotlight {
    width: 350px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.spotlight:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project-dialog {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dialog-image {
    object-fit: cover;
    height: 300px !important;
    width: auto;
    transition: transform 0.3s ease;
}

.project-image {
    object-fit: cover;
    height: 200px;
    width: 100%;
    transition: transform 0.3s ease;
}

.spotlight:hover .project-image {
    transform: scale(1.05);
}

.content {
    padding: 20px;
    text-align: center;
}

.view-more-button {
    margin-top: 20px !important;
    padding: 10px 30px !important;
    font-size: 1rem !important;
    color: #113f67 !important;
    border-color: #91e6e6 !important;
    border-radius: 30px !important;
    transition: background-color 0.3s ease !important;
}

.view-more-button:hover {
    background-color: #7c92e8;
    color: white;
}

.additional-projects {
    display: none; 
}

.in-progress-projects {
    margin-top: 40px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
}

a:hover {
    color: #0056b3;
    border-bottom: 1px solid #0056b3;
}

.spotlight .content {
    padding: 20px;
    border-radius: 0 12px 12px 0;
    overflow: hidden; 
}

.spotlight .content .description {
    display: none;
}

.spotlight.active .content .description {
    display: block;
}

.language-chips {
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.chips {
    margin-bottom: 5px !important;
}

.collaborators {
    margin-top: 5px;
}

@media (max-width: 768px) {
    .spotlight {
        flex: 0 0 calc(50% - 20px) !important;
    }
}

@media (max-width: 480px) {
    .spotlight {
        flex: 0 0 calc(100% - 20px) !important;
    }

    .dialog-image {
        height: auto !important;
    }

    .project-dialog {
        flex-direction: column;
    }    
}