.skills-root {
    background-color: #f9f9f9;
    padding: 4rem 0;
}

.skills-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skill-card {
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 2rem;
    background-color: #fff;
}

.skill-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
}

.skills-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 2rem;
}

.skills-slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    align-items: center;
    width: calc(3.85 * 100%);
}

.skill-slide {
    flex: 0 0 auto;
    width: 100px;
    margin-right: 2rem;
}

.skill-logo {
    max-height: 50px;
    width: auto;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-150%);
    }
}

@media (max-width: 768px) {
    .skill-slide {
        width: 100px;
    }
}

@media (max-width: 768px) {
    .skill-card {
        margin-bottom: 1rem;
    }
}